<style>
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 45%;
    padding: 5px;
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
</style>

<h1>Stateless Ephemeral RPi4 k3s cluster</h1>

<ul>
  <li>All <a href="https://www.raspberrypi.org/products/raspberry-pi-4-model-b/">raspberry pi 4 8gb</a> nodes are powered with <a href="https://www.ui.com/unifi-switching/unifi-switch-8/">140W PoE switch</a></li>
  <li>Nodes boot with <a href="https://ipxe.org/">iPXE with http over internet</a> ...</li>
  <li>... loading <a href="https://www.alpinelinux.org/">Alpine Linux</a> in <a href="https://wiki.alpinelinux.org/wiki/Installation#Diskless_Mode">memory</a> and setting hostname to <code>$now-$mac</code></li>
  <li>At the boot they join a <a href="https://k3s.io/">k3s<a> cluster master running in <a href="https://www.scaleway.com/en/">scaleway</a></li>
  <li>And then expose this page behind a NAT through flannel <a href="https://www.wireguard.com">wireguard vpn</a> with a public LoadBalancer </li>
  <li>Every power cycle from the PoE switch starts the iPXE boot again making the node <strong>fresh</strong> again
</ul>

<fieldset>
  <legend>This page is served from:</legend>
  <h3>hostname: {{ .hostname }}</h3>
  <h3>temperature now: {{ .temperature }}c</h3>

  <button onclick="window.location.reload()">Reload!</button>
</fieldset>

<br/>

<fieldset>
  <legend>Nodes in the cluster currently:</legend>
  <table border=1 cellpadding=5>
    <tr>
      <td>hostname</td><td>IP</td><td>OS</td><td>Age</td>
    </tr>

  {{range .nodes}}
    <tr>
      <td>{{.Name}}</td><td>{{ .IP }}</td><td>{{ .OS }}</td><td>{{ .Age }}</td>
    </tr>
  {{end}}
  </table>

</fieldset>

<h3>Photos</h3>

<div class="row">
  <div class="column">
    <h3>cooling:</h3>
    <img src="/public/soldat.jpg" style="width:100%">
  </div>
  <div class="column">
    <h3>cluster:</h3>
    <img src="/public/soldats.jpg" style="width:100%">
  </div>
</div>
<div class="row">
  <div class="column">
    <h3>power usage per port under full load:</h3>
    <img src="/public/ports.jpg" style="width:100%">
  </div>
  <div class="column">
    <h3>power usage total:</h3>
    <img src="/public/power.jpg" style="width:100%">
  </div>
</div>

<h3>I have issues</h3>
<ul>
  <li><a href="https://github.com/k3s-io/k3s/issues/1608">https://github.com/k3s-io/k3s/issues/1608</a></li>
  <li><a href="https://gist.github.com/shift/98f43d98ce5e47e374fa46bf67b6a3b1">https://gist.github.com/shift/98f43d98ce5e47e374fa46bf67b6a3b1</a></li>
</ul>
